lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

logs
.docker

# Coverage reports
coverage

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
build

# ignore package-lock.json
package-lock.json
yarn.lock\

.env
.history